<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Заказы</title>
	<link href="../../static/css/orders.css" media="all" rel="stylesheet" th:href="@{/css/orders.css}" type="text/css">
</head>

<body>
<div layout:fragment="sidebar">

</div>

<div layout:fragment="content">
	<h1>Заказы</h1>

	<div class="orders">
		<ul>
			<li th:each="order : ${orders}">
				<p th:text="${order.id} + ' (' + ${#temporals.format(order.createdAt, 'dd-MM-yyyy HH:mm')} + ') [' + ${order.status} + ']:'"></p>

				<ul>
					<li th:each="ordersProductsEntity : ${order.ordersProductsEntities}"
					    th:text="${ordersProductsEntity.productEntity.title}"></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</body>
</html>