<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Все прогрессы</title>
	<link href="../../static/css/orders.css" media="all" rel="stylesheet" th:href="@{/css/orders.css}" type="text/css">
</head>

<body>
<div layout:fragment="sidebar">
	<form id="search_form" th:action="@{/admin/orders}" th:method="GET">
		<input id="search" name="search" placeholder="Номер прогресса..." type="text">

		<input type="submit" value="применить">
	</form>
</div>

<div layout:fragment="content">
	<h1>Все прогрессы</h1>

	<div class="orders">
		<ul>
			<li th:each="order : ${orders}">
				<p><a th:href="@{/admin/orders/{id}(id=${order.id})}" th:text="${order.id}"></a><span
						th:text="' (' + ${#temporals.format(order.createdAt, 'dd-MM-yyyy HH:mm')} + ') [' + ${order.status} + '] ('"></span><a
						th:href="@{/users/{username}(username=${order.userEntity.username})}"
						th:text="${order.userEntity.username}"></a><span th:text="'):'"></span></p>

				<ul>
					<li th:each="ordersProductsEntity : ${order.ordersProductsEntities}"
					    th:text="${ordersProductsEntity.productEntity.title}"></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<script layout:fragment="script">
			var myForm = document.getElementById('search_form');

			myForm.addEventListener('submit', function (e) {
				var allInputs = myForm.getElementsByTagName('input');

				for (var i = 0; i < allInputs.length; i++) {
					var input = allInputs[i];

					if (input.name && !input.value) {
						input.removeAttribute('name');
					}
				}
			});


</script>
</body>
</html>