<!DOCTYPE html>

<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<title>Профиль</title>
    	<link href="../../static/css/profile.css" media="all" rel="stylesheet" th:href="@{/css/profile.css}" type="text/css">
    </head>

    <body>
        <div layout:fragment="content">
        	<h1>Профиль</h1>

        	<h2>Ваши параметры:</h2>

            <form th:action="@{/profile}" th:method="POST" th:object="${user_parameters}">
                <label for="sex">Пол:</label>
                <select id="sex" name="sex">
                    <option th:value="male" th:text="мужской" th:selected="${'male' == user_parameters.sex}"></option>
                    <option th:value="female" th:text="женский" th:selected="${'female' == user_parameters.sex}"></option>
                </select>
        		<span style="color: red" th:errors="*{sex}" th:if="@{#fields.hasErrors('sex')}">Ошибки в поле.</span>

                <label for="age">Возраст:</label>
                <input type="text" name="age" id="age" th:field="*{age}">
        		<span style="color: red" th:errors="*{age}" th:if="@{#fields.hasErrors('age')}">Ошибки в возрасте.</span>

                <label for="height">Рост:</label>
                <input type="text" name="height" id="height" th:field="*{height}">
        		<span style="color: red" th:errors="*{height}" th:if="@{#fields.hasErrors('height')}">Ошибки в росте.</span>

                <label for="weight">Вес:</label>
                <input type="text" name="weight" id="weight" th:field="*{weight}">
        		<span style="color: red" th:errors="*{weight}" th:if="@{#fields.hasErrors('weight')}">Ошибки в весе.</span>

                <label>Аллергия:</label>
                <label for="морепродукты">морепродукты</label>
                <input type="checkbox" name="allergy" value="морепродукты" th:checked="${user_parameters.allergy.contains('морепродукты')}">
                <label for="молоко">молоко</label>
                <input type="checkbox" name="allergy" value="молоко" th:checked="${user_parameters.allergy.contains('молоко')}">
                <label for="белок">белок</label>
                <input type="checkbox" name="allergy" value="белок" th:checked="${user_parameters.allergy.contains('белок')}">
                <label for="глютен">глютен</label>
                <input type="checkbox" name="allergy" value="глютен" th:checked="${user_parameters.allergy.contains('глютен')}">
                <label for="соя">соя</label>
                <input type="checkbox" name="allergy" value="соя" th:checked="${user_parameters.allergy.contains('соя')}">
                <label for="мёд">мёд</label>
                <input type="checkbox" name="allergy" value="мёд" th:checked="${user_parameters.allergy.contains('мёд')}">
                <label for="орехи">орехи</label>
                <input type="checkbox" name="allergy" value="орехи" th:checked="${user_parameters.allergy.contains('орехи')}">
                <label for="фрукты и овощи">фрукты и овощи</label>
                <input type="checkbox" name="allergy" value="фрукты и овощи" th:checked="${user_parameters.allergy.contains('фрукты и овощи')}">
                <label for="шоколад">шоколад</label>
                <input type="checkbox" name="allergy" value="шоколад" th:checked="${user_parameters.allergy.contains('шоколад')}">

                <label for="physical_activity">Физическая активность:</label>
                <select id="physical_activity" name="physicalActivity">
                    <option th:value="high" th:text="высокая" th:selected="${'high' == user_parameters.physicalActivity}"></option>
                    <option th:value="medium" th:text="средняя" th:selected="${'medium' == user_parameters.physicalActivity}"></option>
                    <option th:value="low" th:text="низкая" th:selected="${'low' == user_parameters.physicalActivity}"></option>
                </select>
                <span style="color: red" th:errors="*{physicalActivity}" th:if="@{#fields.hasErrors('physicalActivity')}">Ошибки в физической активности.</span>

                <input type="submit" value="Сохранить">
            </form>
        </div>
    </body>
</html>