<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Добавить диету</title>
	<link href="../../static/css/auth.css" media="all" rel="stylesheet" th:href="@{/css/auth.css}" type="text/css">
</head>

<body>
<div layout:fragment="sidebar">

</div>

<div layout:fragment="content">
	<h1>Добавить диету</h1>

	<form enctype="multipart/form-data" name="product_add_form" th:action="@{/products/add}" th:method="POST"
	      th:object="${product}">
		<label for="image">
			<input accept="image/png, image/jpeg" id="image" name="image" style="display: none;"
			       th:field="*{multipartFile}"
			       type="file">
			<img th:src="@{'/static_images/empty_product.jpg'}">
		</label>

		<label for="title">Назавание диеты:</label>
		<input id="title" name="title" th:field="*{title}" type="text">
		<span style="color: red" th:errors="*{title}"
		      th:if="@{#fields.hasErrors('title')}">Ошибки в названии диеты.</span>

		<label for="price">Продолжительность:</label>
		<input id="price" name="price" th:field="*{price}" type="text">
		<span style="color: red" th:errors="*{price}" th:if="@{#fields.hasErrors('price')}">Ошибки в продолжительности.</span>

		<input type="submit" value="Добавить">
	</form>
</div>
</body>
</html>