<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Моя диета</title>
		<link href="../../static/css/diet.css" media="all" rel="stylesheet" th:href="@{/css/diet.css}"
		      type="text/css">
	</head>

	<body>
		<div layout:fragment="content">
			<h1>Моя диета</h1>

			<div th:if="${personal_diet == null}">
				<p>У Вас ещё нет персональной диеты. Сгенерируйте её.</p>
			</div>

			<div th:if="${personal_diet != null}">
				<div th:if="${personal_diet.status == 'process'}">
					<p>Подождите, диета в процессе генерации...</p>
				</div>

				<div th:if="${personal_diet.status == 'generated'}">
					<p th:text="${personal_diet.meal}">Еда</p>
				</div>
			</div>
		</div>
	</body>
</html>