<header th:fragment="header">
	<ul>
		<div>
			<li><a th:href="@{/}">Главная</a></li>
			<li><a th:href="@{/products}">Диеты</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/cart}">Избранное</a></li>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/orders}">Прогресс</a></li>
		</div>
		<div>
			<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/orders}">Все прогрессы</a></li>
			<li	sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Профиль</a></li>
			<li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">Вход</a></li>
			<li sec:authorize="isAuthenticated()">
				<form th:action="@{/logout}" th:method="POST">
					<button type="submit">Выход</button>
				</form>
			</li>
		</div>
	</ul>
</header>