<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Добавить диету</title>
		<link href="../../static/css/auth.css" media="all" rel="stylesheet" th:href="@{/css/auth.css}" type="text/css">
	</head>

	<body>
		<div layout:fragment="content">
			<h1>Добавить диету</h1>

			<form enctype="multipart/form-data" th:action="@{/diets/add}" th:method="POST" th:object="${diet}">
				<label for="image">
					<input accept="image/png, image/jpeg" id="image" name="image" style="display: none;"
					       th:field="*{multipartFile}"
					       type="file">
					<img th:src="@{'/static_images/empty_product.jpg'}">
				</label>

				<label for="title">Назавание диеты:</label>
				<input id="title" name="title" th:field="*{title}" type="text">
				<span style="color: red" th:errors="*{title}"
				      th:if="@{#fields.hasErrors('title')}">Ошибки в названии диеты.</span>

				<label for="description">Описание:</label>
				<input id="description" name="description" th:field="*{description}" type="text">
				<span style="color: red" th:errors="*{description}" th:if="@{#fields.hasErrors('description')}">Ошибки в описании.</span>

				<label for="duration">Продолжительность:</label>
				<input id="duration" name="duration" th:field="*{duration}" type="text">
				<span style="color: red" th:errors="*{duration}" th:if="@{#fields.hasErrors('duration')}">Ошибки в продолжительности.</span>

				<input type="submit" value="Добавить">
			</form>
		</div>
	</body>
</html>